# Python virtual environments
venv/
.venv/
env/
ENV/

# Data and Datasets (adjust names if your dataset folder is named differently)
data/
datasets/
*.csv
*.json

# Deep Learning / ML Weights
*.pt
*.pth
*.pkl
*.h5

# Python cache & OS files
__pycache__/
*.pyc
.DS_Store
.metadata/